notes.md
todo.md

sphinx.db

# just for testing
binaries/nodeapp-macos 
binaries/nodeapp-alpine 

dist/public/uploads

dist/config/app.json
dist/config/config.json

node_modules/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.pgpass
.vscode
.DS_Store

public/uploads/*
!public/uploads/.gitkeep 

sqlite/sphinx.db
sqlite/sphinxpg.sql
sqlite/sphinxlite.sql

connection_string.txt

testing/greenlight/*.pem
testing/greenlight/*.crt
hsm_secret
testing/scripts/stuff.json
creds/*
!creds/.gitkeep
!creds/scheduler_creds
hsm_secret
