bitcoin.mainnet=1
bitcoin.active=1
bitcoin.node=neutrino
accept-keysend=1

listen=0.0.0.0:9735
rpclisten=0.0.0.0:10009

ignore-historical-gossip-filters=true
nobootstrap=true
numgraphsyncpeers=1
routing.assumechanvalid=1
autopilot.active=false