node_modules
.DS_Store
nodes.json
package-lock.json
cluster_config.json
greenlight/alice_creds
greenlight/bob_creds
greenlight/charlie_creds
greenlight/new_creds
greenlight/orange_creds
cln/alice.db
cln/alice_creds
cln/cln.db