name: Lint
on:
  push:
    branches:
      - master

jobs:
  lint:
    name: Lint
    runs-on:
      - ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install npm dependencies
        run: npm i
      - name: lint and push automatic fixes
        run: |
          npm run lint || echo -n
          git config --global user.name "Github Actions"
          git remote add github "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
          git pull github ${GITHUB_REF} --ff-only || echo -n
          git add src
          git commit -m "Automatic linter fixes" && git push github HEAD:${GITHUB_REF} || echo -n
